#mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 300px;
    height: 70%;
    background-color: dimgray;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 4px rgb(58, 58, 58));
}

#calculatorContainer {
    position: relative;
    margin: 5% auto;
    height: 90%;
    width:90%;
    background-color: gray;
    border-radius: 25px;
    border: 2px solid black;
}

#displayContainer {
    position: relative;
    margin: 2% auto;
    top: 2%;
    height: 10%;
    width: 90%;
    border-radius: 10px;
    background-color: khaki;
}

#displayContent {
    padding: 3%;
    margin-right: 5%;
    text-align: right;
    font-size: xx-large;
    font-family: sans-serif;
}

#clearButton {
    text-align: left;
    background-color: sienna;
}

#clearButton:hover {
    background-color: red;
}

#clearButton:active {
    background-color: silver;
}

#numberButtons {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: auto auto auto auto auto;
    padding: 5%;
    margin-left: 4%;
    margin-top: 2%;
    width: 80%;
    height: auto;
}

#divide {
    grid-column: 4/4;
    grid-row: 5/5;
}

#equals {
    grid-column: 4/3;
    grid-row: 5/5;
}

.button {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: honeydew;
    filter: drop-shadow(5px 5px 4px black);
}

.button:hover {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: goldenrod;
}

.button:active {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: seagreen;
}

.operation {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: rgb(117, 194, 150);
    filter: drop-shadow(5px 5px 4px black);
}

.operation:hover {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: goldenrod;
}

.operation:active {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: 2rem;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: honeydew;
}