#mainContainer {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: auto;
    background-color: dimgray;
    border-radius: 25px;
    filter: drop-shadow(10px 10px 4px rgb(58, 58, 58));
}

#calculatorContainer {
    position: relative;
    margin: 5% auto;
    height: 90%;
    width:90%;
    background-color: gray;
    border-radius: 25px;
    border: 2px solid black;
}

#displayContainer {
    position: relative;
    margin: 2% auto;
    top: 2%;
    height: 10%;
    width: 90%;
    border-radius: 10px;
    background-color: khaki;
}

#displayContent {
    padding: 3%;
    margin-right: 5%;
    text-align: right;
    font-size: xx-large;
    font-family: sans-serif;
}

#clearButton {
    z-index: 1;
    background-color: sienna;
}

#clearButton:hover {
    background-color: red;
}

#clearButton:active {
    background-color: silver;
}

#numberButtons {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    padding: 5%;
    margin-left: 4%;
    margin-top: 25%;
    width: 60%;
    height: auto;
}

#operationButtons {
    display: flex;
    position: relative;
    flex-direction: column;
    grid-template-columns: auto;
    grid-template-rows: auto;
    margin-left: 75%;
    bottom: 55%;
    padding: 2%;
    width: 13%;
    height: 55%;
}

.button {
    position: relative;
    padding: 10%;
    margin: 10%;
    width: 80%;
    height: 95%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: honeydew;
    filter: drop-shadow(5px 5px 4px black);
}

.button:hover {
    position: relative;
    margin: 5%;
    width: 80%;
    height: 90%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: goldenrod;
}

.button:active {
    position: relative;
    margin: 5%;
    width: 80%;
    height: 90%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: seagreen;
}

.operation {
    position: relative;
    margin: 5%;
    width: 120%;
    height: 100%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: rgb(117, 194, 150);
    filter: drop-shadow(5px 5px 4px black);
}

.operation:hover {
    position: relative;
    margin: 5%;
    width: 120%;
    height: 100%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: goldenrod;
}

.operation:active {
    position: relative;
    margin: 5%;
    width: 120%;
    height: 100%;
    font-size: xx-large;
    border-radius: 20%;
    border: 2px solid dimgray;
    background-color: honeydew;
}